@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  text-decoration: none;
}

main {
  width: 100%;
  display: grid;
  grid-template-rows: min-content 948px min-content 340px;
  gap: 10px;
}
main .banner {
  width: 100%;
  margin-bottom: 60px;
}
main .info-premios {
  display: grid;
  grid-template-rows: min-content 800px 90px;
  padding: 20px;
}
main .info-premios--title {
  font-size: 4.8rem;
  font-weight: 400;
}
main .info-premios--text {
  align-self: center;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 300px);
  grid-template-columns: repeat(2, minmax(430px, 750px));
  justify-content: space-between;
}
main .text-card {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  padding: 20px;
}
main .text-card h5 {
  font-size: 2.4rem;
}
main .text-card p {
  font-size: 1.8rem;
  text-align: justify;
}
main .text-card button {
  width: 130px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  color: rgb(237, 28, 46);
  border: 2px solid rgb(237, 28, 46);
  font-size: 1.3rem;
  border-radius: 5px;
  display: grid;
  place-content: center;
}
main .text-card button:hover {
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: 600;
}
main .info-premios > button {
  width: 314px;
  height: 40px;
  align-self: center;
  justify-self: center;
  background-color: rgb(255, 255, 255);
  color: rgb(237, 28, 46);
  border: 2px solid rgb(237, 28, 46);
  font-size: 1.3rem;
  border-radius: 5px;
  display: grid;
  place-content: center;
}
main .info-premios > button:hover {
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: 600;
}
main .premios {
  width: 100%;
  padding: 20px;
}
main .premios--title {
  font-size: 4.8rem;
  font-weight: 400;
  margin-top: 20px;
}
main .premios-cards {
  display: grid;
  grid-template-rows: repeat(5, 450px);
  grid-template-columns: minmax(435px, 100%);
  margin: 0 auto;
}
main .card-premio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
main .card-premio img {
  flex-grow: 1;
  width: 50%;
  max-width: 500px;
  flex-basis: 430px;
  padding: 15px;
}
main .premio-cart--text {
  flex-grow: 1;
  max-width: 500px;
  flex-basis: 430px;
  padding: 15px;
}
main .premio-cart--text h5 {
  font-size: 2.4rem;
  margin-bottom: 30px;
}
main .premio-cart--text p {
  font-size: 1.8rem;
  text-align: justify;
}
main .card-premio__final {
  display: flex;
  flex-direction: column;
}
main .card-premio__final img {
  max-width: 800px;
  justify-self: center;
  align-self: center;
}
main .card-premio__final .premio-cart--text__final {
  display: flex;
  justify-content: space-evenly;
}
main .card-premio__final .premio-cart--text__final h5 {
  font-size: 2.4rem;
  max-width: 50%;
}
main .card-premio__final .premio-cart--text__final p {
  font-size: 1.8rem;
  max-width: 50%;
}
main .premios button {
  display: inherit;
  width: 417px;
  height: 40px;
  margin: 20px auto;
  background-color: rgb(255, 255, 255);
  color: rgb(237, 28, 46);
  border: 2px solid rgb(237, 28, 46);
  font-size: 1.3rem;
  border-radius: 5px;
  display: grid;
  place-content: center;
}
main .premios button:hover {
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: 600;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .home {
  width: 195px;
  height: 65px;
}
header .home .logo-img {
  width: 100%;
  height: 100%;
}
header .btn-account {
  display: flex;
}
header .btn-account a {
  margin-right: 10px;
  width: 100px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  color: rgb(237, 28, 46);
  border: 2px solid rgb(237, 28, 46);
  font-size: 1.3rem;
  border-radius: 5px;
  display: grid;
  place-content: center;
}
header .btn-account a:hover {
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: 600;
}
header .nav--options {
  justify-self: flex-start;
  display: flex;
  gap: 15px;
}
header .nav--options a {
  color: rgb(237, 28, 46);
  font-weight: 600;
  font-size: 1.3rem;
  height: 30px;
  padding: 7px 2px;
}
header .nav--options a:hover {
  border-bottom: 4px solid rgb(237, 28, 46);
}

.acerca {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}
.acerca h3 {
  font-size: 3.6rem;
  font-weight: 400;
  width: 70%;
}
.acerca .acerca--enlaces {
  flex-grow: 1;
  width: 30%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.acerca .acerca--enlaces a {
  background-color: rgb(255, 255, 255);
  color: rgb(237, 28, 46);
  border: 2px solid rgb(237, 28, 46);
  font-size: 1.3rem;
  border-radius: 5px;
  display: grid;
  place-content: center;
  display: grid;
  place-content: center;
  width: 270px;
  height: 40px;
}
.acerca .acerca--enlaces a:hover {
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: 600;
}

footer {
  width: 100%;
  height: 100px;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 20px;
}
footer img {
  width: 40%;
  justify-self: center;
}
footer .e1,
footer .e2,
footer .e3 {
  justify-self: flex-start;
  width: 10%;
}
footer .e5,
footer .e6 {
  justify-self: flex-end;
  width: 15%;
}

.modal-card {
  display: none;
  position: relative;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-card .modal-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(237, 28, 46, 0.9);
  padding: 20px;
  width: 500px;
  height: min-content;
}
.modal-card .close {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  float: right;
  font-weight: 600;
}
.modal-card .close:hover,
.modal-card .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.container-account {
  padding: 20px;
  display: grid;
  grid-template-rows: min-content 670px 100px 340px;
  gap: 20px;
}
.container-account img {
  width: 100%;
}
.container-account .credential-account {
  display: grid;
  grid-template-rows: 150px 430px;
  gap: 10px;
  padding: 20px;
}
.container-account .credential-text h2 {
  font-size: 3.8rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}
.container-account .credential-text p {
  font-size: 2.6rem;
  text-align: center;
}
.container-account .credential-card {
  border: 2px solid rgb(237, 28, 46);
  justify-self: center;
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
}
.container-account .credential-card p {
  width: 80%;
  font-size: 2rem;
  font-weight: 600;
  margin: 10px auto;
}
.container-account .credential-card form {
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 20px;
}
.container-account .credential-card form > input {
  height: 40px;
  font-size: 1.5rem;
}
.container-account .credential-card form button {
  width: 130px;
  height: 40px;
  align-self: flex-start;
  background-color: rgb(255, 255, 255);
  color: rgb(237, 28, 46);
  border: 2px solid rgb(237, 28, 46);
  font-size: 1.3rem;
  border-radius: 5px;
  display: grid;
  place-content: center;
}
.container-account .credential-card form button:hover {
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.container-account .signin-option {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.container-account .signin-option p {
  font-size: 2.6rem;
}
.container-account .signin-option a {
  background-color: rgb(255, 255, 255);
  color: rgb(237, 28, 46);
  border: 2px solid rgb(237, 28, 46);
  font-size: 1.3rem;
  border-radius: 5px;
  display: grid;
  place-content: center;
  width: 192px;
  height: 52px;
}
.container-account .signin-option a:hover {
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
