@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  text-decoration: none;
}

main {
  width: 100%;
  gap: 10px;
}
main .banner {
  width: 100%;
  margin-bottom: 60px;
}
main .info-premios {
  width: 100%;
}
main .info-premios--title {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}
main .info-premios--text {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, 400px);
}
main .text-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
main .text-card h5 {
  font-size: 1.6rem;
}
main .text-card p {
  font-size: 1.8rem;
  text-align: justify;
}
main .text-card button {
  width: 130px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  color: rgb(237, 28, 46);
  border: 2px solid rgb(237, 28, 46);
  font-size: 1.3rem;
  border-radius: 5px;
  display: grid;
  place-content: center;
}
main .text-card button:hover {
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: 600;
}
main .info-premios > button {
  width: 314px;
  height: 40px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  color: rgb(237, 28, 46);
  border: 2px solid rgb(237, 28, 46);
  font-size: 1.3rem;
  border-radius: 5px;
  display: grid;
  place-content: center;
}
main .info-premios > button:hover {
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: 600;
}
main .premios {
  width: 100%;
  margin-top: 20px;
}
main .premios--title {
  font-size: 3.5rem;
  font-weight: 400;
  margin-top: 100px;
  text-align: center;
}
main .premios-cards {
  display: grid;
  grid-template-rows: repeat(5, 450px);
  grid-template-columns: minmax(375px, 100%);
  margin: 0 auto;
}
main .card-premio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
main .card-premio img {
  flex-grow: 1;
  width: 50%;
  max-width: 500px;
  flex-basis: 430px;
  padding: 15px;
  order: 1;
}
main .premio-cart--text {
  order: 2;
  flex-grow: 1;
  max-width: 500px;
  flex-basis: 430px;
  padding: 15px;
}
main .premio-cart--text h5 {
  font-size: 1.8rem;
  margin-bottom: 30px;
  text-align: center;
}
main .premio-cart--text p {
  font-size: 1.6rem;
  text-align: justify;
}
main .card-premio__final {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 15px;
}
main .card-premio__final img {
  order: 1;
  width: 100%;
  justify-self: center;
  align-self: center;
}
main .card-premio__final .premio-cart--text__final {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}
main .card-premio__final .premio-cart--text__final h5 {
  font-size: 1.8rem;
  margin-bottom: 30px;
}
main .card-premio__final .premio-cart--text__final p {
  font-size: 1.5rem;
}
main .premios button {
  display: inherit;
  width: 80%;
  height: 40px;
  margin: 20px auto;
  background-color: rgb(255, 255, 255);
  color: rgb(237, 28, 46);
  border: 2px solid rgb(237, 28, 46);
  font-size: 1.3rem;
  border-radius: 5px;
  display: grid;
  place-content: center;
}
main .premios button:hover {
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  main .info-premios--text {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 400px);
  }
  main .card-premio img {
    order: unset;
  }
  main .premio-cart--text {
    order: unset;
  }
  main .card-premio__final img {
    order: unset;
    max-width: 800px;
  }
  main .card-premio__final .premio-cart--text__final {
    order: unset;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
  }
  main .card-premio__final .premio-cart--text__final h5 {
    flex-basis: 230px;
  }
  main .card-premio__final .premio-cart--text__final p {
    flex-basis: 538px;
  }
  main .premios button {
    max-width: 417px;
  }
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .home {
  width: 195px;
  height: 65px;
}
header .home .logo-img {
  width: 100%;
  height: 100%;
}
header .btn-account {
  display: flex;
}
header .btn-account a {
  margin-right: 10px;
  width: 100px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  color: rgb(237, 28, 46);
  border: 2px solid rgb(237, 28, 46);
  font-size: 1.3rem;
  border-radius: 5px;
  display: grid;
  place-content: center;
}
header .btn-account a:hover {
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: 600;
}
header .nav--options {
  display: flex;
  justify-self: flex-start;
  align-items: center;
  gap: 15px;
  height: 100%;
  padding: 0px 10px;
}
header .nav--options .icon {
  display: none;
  font-size: 3rem;
}
header .nav--options .icon:focus, header .nav--options .icon:hover {
  text-decoration: none;
  border: none;
}
header .nav--options a {
  color: rgb(237, 28, 46);
  font-weight: 600;
  font-size: 1.3rem;
  height: 30px;
  padding: 7px 2px;
}
header .nav--options a:hover {
  border-bottom: 4px solid rgb(237, 28, 46);
}

.nav--responsive {
  width: 350px;
  height: min-content;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(237, 28, 46, 0.5);
  top: 80px;
  left: calc(50% - 175px);
  padding: 10px;
  display: none;
}

.nav--responsive a {
  display: block;
  font-size: 2rem;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .nav--options a:not(:last-child) {
    display: none;
  }
  .nav--options a.icon {
    float: right;
    display: block;
  }
}
.acerca {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  gap: 15px;
}
.acerca h3 {
  font-size: 3.5rem;
  font-weight: 400;
  flex-basis: content;
  text-align: center;
}
.acerca .acerca--enlaces {
  flex-grow: 1;
  width: 30%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.acerca .acerca--enlaces a {
  background-color: rgb(255, 255, 255);
  color: rgb(237, 28, 46);
  border: 2px solid rgb(237, 28, 46);
  font-size: 1.3rem;
  border-radius: 5px;
  display: grid;
  place-content: center;
  display: grid;
  place-content: center;
  width: 270px;
  height: 40px;
}
.acerca .acerca--enlaces a:hover {
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: 600;
}

@media screen and (min-width: 1050px) {
  .acerca h3 {
    flex-basis: 700px;
  }
}
footer {
  width: 100%;
  height: 100px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px 20px;
  margin-top: 100px;
  background-color: rgba(237, 28, 46, 0.4);
}
footer img {
  width: 30%;
  max-width: 140px;
  justify-self: center;
  float: right;
}
footer a {
  color: black;
  display: block;
  margin-bottom: 2px;
}

@media screen and (min-width: 768px) {
  footer {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    height: min-content;
  }
  footer img {
    float: none;
    justify-self: center;
    width: 35%;
    max-width: none;
  }
  footer .e1, footer .e2, footer .e3 {
    width: 11%;
    justify-self: flex-start;
  }
  footer .e5, footer .e6 {
    width: 16%;
    justify-self: flex-end;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(237, 28, 46, 0.2);
}

.modal-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  width: 350px;
  height: min-content;
  top: calc(50% - 100px);
  left: calc(50% - 175px);
}

.close {
  color: rgb(237, 28, 46);
  font-size: 3rem;
  font-weight: 600;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.container-account {
  width: 100%;
}
.container-account img {
  width: 100%;
  margin-bottom: 20px;
}
.container-account .credential-account {
  display: grid;
  grid-template-rows: 250px 430px;
  grid-template-columns: 375px;
  gap: 10px;
}
.container-account .credential-text {
  margin-bottom: 10px;
}
.container-account .credential-text h2 {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}
.container-account .credential-text p {
  font-size: 2rem;
  text-align: center;
}
.container-account .credential-card {
  margin-top: 20px;
  justify-self: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
}
.container-account .credential-card p {
  width: 80%;
  font-size: 2rem;
  font-weight: 600;
  margin: 10px auto;
}
.container-account .credential-card form {
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 20px;
}
.container-account .credential-card form > input {
  height: 40px;
  font-size: 1.5rem;
  border: none;
  border-bottom: 2px solid rgb(237, 28, 46);
}
.container-account .credential-card input:focus-visible {
  outline: none;
}
.container-account .credential-card input:focus-visible::placeholder {
  color: rgba(237, 28, 46, 0.5);
  font-weight: 600;
  padding-left: 30px;
}
.container-account .credential-card form button {
  width: 130px;
  height: 40px;
  align-self: flex-start;
  background-color: rgb(255, 255, 255);
  color: rgb(237, 28, 46);
  border: 2px solid rgb(237, 28, 46);
  font-size: 1.3rem;
  border-radius: 5px;
  display: grid;
  place-content: center;
}
.container-account .credential-card form button:hover {
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.container-account .signin-option {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.container-account .signin-option p {
  font-size: 2.5rem;
  flex-basis: 350px;
  text-align: center;
  margin-bottom: 20px;
}
.container-account .signin-option a {
  background-color: rgb(255, 255, 255);
  color: rgb(237, 28, 46);
  border: 2px solid rgb(237, 28, 46);
  font-size: 1.3rem;
  border-radius: 5px;
  display: grid;
  place-content: center;
  width: 192px;
  height: 52px;
}
.container-account .signin-option a:hover {
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .container-account .credential-account {
    grid-template-columns: 100%;
  }
  .container-account .credential-card {
    max-width: 600px;
    max-height: 80%;
    box-shadow: 10px 10px 10px rgba(237, 28, 46, 0.5);
  }
}
.container-main {
  width: 100%;
}
.container-main .container-main--buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin: 30px 0px;
}
.container-main .container-main--buttons button {
  height: 50px;
  width: 200px;
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.container-main .container-main--teams-content {
  padding: 20px;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 375px);
  grid-auto-rows: 250px;
  justify-content: center;
  gap: 20px;
}
.container-main .card-team {
  height: 100%;
  width: 100%;
  font-size: 80px;
}
.container-main th, .container-main td {
  border: 1px solid black;
}
.container-main th {
  color: rgb(237, 28, 46);
}
.container-main td {
  padding: 0px 10px;
}
.container-main table tr td:first-child {
  font-weight: bold;
}
.container-main table tr td:nth-child(2) {
  text-align: right;
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.container-main .modal .modal-content {
  width: 375px;
  top: calc(50% - 372px);
}
.container-main .modal .modal-content input {
  height: 40px;
  font-size: 1.5rem;
  padding-left: 10px;
  margin-bottom: 10px;
}
.container-main .modal .modal-content input::placeholder {
  font-size: 1.5rem;
}
.container-main .modal .modal-content button {
  height: 40px;
  width: 120px;
  position: relative;
  left: calc(50% - 60px);
  background-color: rgb(255, 255, 255);
  color: rgb(237, 28, 46);
  border: 2px solid rgb(237, 28, 46);
  font-size: 1.3rem;
  border-radius: 5px;
  display: grid;
  place-content: center;
}
.container-main .modal .modal-content button:hover {
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.container-main .modal .modal-content label {
  font-size: 1.5rem;
  color: rgb(237, 28, 46);
  font-weight: bold;
}

.container-main--matches-content {
  margin: 0px 20px;
}
.container-main--matches-content .matches-type {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  font-size: 2.5rem;
  cursor: pointer;
}
.container-main--matches-content .matches-type p {
  width: 80px;
  height: 30px;
  text-align: center;
}
.container-main--matches-content .matches-type p.option-selected {
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 10px 10px 10px 10px;
  padding-top: 5px;
}

.groupContainer button.newMatch {
  margin: 15px 0px;
  width: 100px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  color: rgb(237, 28, 46);
  border: 2px solid rgb(237, 28, 46);
  font-size: 1.3rem;
  border-radius: 5px;
  display: grid;
  place-content: center;
}
.groupContainer button.newMatch:hover {
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.groupContainer .match-cards--container {
  padding: 20px;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 375px);
  grid-auto-rows: 250px;
  justify-content: center;
  gap: 20px;
}
.groupContainer .match-cards--container .card-table-match {
  width: 100%;
  height: 100%;
  font-size: 80px;
}
.groupContainer .match-cards--container .card-table-match td {
  color: black;
  background-color: rgb(255, 255, 255);
  font-weight: 400;
  text-align: center;
}
.groupContainer .match-cards--container .card-table-match th {
  color: rgb(255, 255, 255);
  background-color: rgb(237, 28, 46);
  font-weight: bold;
}
.groupContainer .match-cards--container .card-table-match .match-id {
  color: rgb(237, 28, 46);
  font-size: 0.5rem;
}

.container-main--positions-content {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 60px auto;
  justify-content: center;
  padding: 20px;
}
.container-main--positions-content .positions-labels {
  display: grid;
  align-items: center;
  justify-content: space-around;
  grid-template-columns: 490px 204px 490px;
  width: 100%;
}
.container-main--positions-content .positions-labels div {
  display: flex;
  justify-content: space-around;
}
.container-main--positions-content .positions-labels div p {
  text-align: center;
  width: 100px;
  margin-right: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.container-main--positions-content .position-content--container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 10px auto;
  gap: 40px;
}
.container-main--positions-content .position-content--container button {
  background-color: rgb(255, 255, 255);
  color: rgb(237, 28, 46);
  border: 2px solid rgb(237, 28, 46);
  font-size: 1.3rem;
  border-radius: 5px;
  display: grid;
  place-content: center;
  width: 200px;
  height: 40px;
  position: absolute;
  bottom: 200px;
}
.container-main--positions-content .position-content--container button:hover {
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.container-main--positions-content .positions-container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: auto;
  row-gap: 10px;
  column-gap: 20px;
}
.container-main--positions-content .positions-container div input {
  height: 40px;
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 5px;
  border: none;
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
}
.container-main--positions-content .positions-container div input:hover {
  outline: 0px;
  outline-offset: none;
  box-shadow: 2px 2px 0px 1px rgba(167, 167, 167, 0.7490196078);
}
.container-main--positions-content .positions-left {
  align-items: center;
  grid-template-areas: "o1 c1 s1" "o2 c1 s1" "o3 c2 s1" "o4 c2 s1";
}
.container-main--positions-content .positions-left div input {
  border-radius: 0px 10px 10px 0px;
}
.container-main--positions-content .positions-left :nth-child(1) {
  grid-area: o1;
}
.container-main--positions-content .positions-left :nth-child(2) {
  grid-area: o2;
}
.container-main--positions-content .positions-left :nth-child(3) {
  grid-area: o3;
}
.container-main--positions-content .positions-left :nth-child(4) {
  grid-area: o4;
}
.container-main--positions-content .positions-left :nth-child(5) {
  grid-area: c1;
}
.container-main--positions-content .positions-left :nth-child(6) {
  grid-area: c2;
}
.container-main--positions-content .positions-left :nth-child(7) {
  grid-area: s1;
}
.container-main--positions-content .positions-right {
  align-items: center;
  grid-template-areas: "s1 c1 o1" "s1 c1 o2" "s1 c2 o3" "s1 c2 o4";
}
.container-main--positions-content .positions-right div input {
  border-radius: 10px 0px 0px 10px;
}
.container-main--positions-content .positions-right :nth-child(1) {
  grid-area: s1;
}
.container-main--positions-content .positions-right :nth-child(2) {
  grid-area: c1;
}
.container-main--positions-content .positions-right :nth-child(3) {
  grid-area: c2;
}
.container-main--positions-content .positions-right :nth-child(4) {
  grid-area: o1;
}
.container-main--positions-content .positions-right :nth-child(5) {
  grid-area: o2;
}
.container-main--positions-content .positions-right :nth-child(6) {
  grid-area: o3;
}
.container-main--positions-content .positions-right :nth-child(7) {
  grid-area: o4;
}
.container-main--positions-content .position-final {
  display: flex;
  flex-direction: column;
}
.container-main--positions-content .position-final input {
  height: 40px;
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 5px;
  border: none;
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}

.malla-banner {
  width: 100%;
}

h2 {
  width: 100%;
  font-size: 3rem;
  text-align: center;
  margin: 60px 0px 15px 0px;
}

.malla-container {
  width: 100%;
  padding: 10px;
}
.malla-container .partidos-container {
  display: grid;
  grid-auto-rows: 150px;
  grid-template-columns: repeat(auto-fit, 355px);
  justify-content: center;
  gap: 20px;
}
.malla-container .partidos-container .partido-current--card {
  position: relative;
  background-color: rgb(237, 28, 46);
  border-radius: 15px;
  padding: 20px;
}
.malla-container .partido-current--card .partido-a {
  display: inline;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.malla-container .partido-current--card .partido-b {
  display: inline;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.malla-container .partido-current--card .vs {
  position: absolute;
  left: calc(50% - 35px);
  bottom: 15px;
  display: inline;
  color: rgb(255, 255, 255);
  font-size: 6rem;
  font-weight: bold;
}

.posiciones-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 0px auto;
}
.posiciones-container .partido-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 40px;
  background-color: rgb(237, 28, 46);
  padding: 0px 20px;
  cursor: pointer;
  border-radius: 10px;
}
.posiciones-container .partido-row p {
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-right: 20px;
}
.posiciones-container .partido-row .posicion {
  border-right: 2px solid rgb(255, 255, 255);
  padding-right: 5px;
}

.modal-posicion--window {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(237, 28, 46, 0.4);
}
.modal-posicion--window .modal-posicion--content {
  display: flex;
  justify-content: space-between;
  width: 350px;
  max-width: 500px;
  position: relative;
  left: calc(50% - 175px);
  top: calc(50% - 250px);
  height: 400px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
}
.modal-posicion--window .modal-posicion--content p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  border-bottom: 2px solid rgb(237, 28, 46);
  word-spacing: 3px;
}
.modal-posicion--window .data-posicion {
  font-weight: bold;
  text-align: end;
}
.modal-posicion--window .index-posicion, .modal-posicion--window .data-posicion {
  margin-top: 10px;
}
.modal-posicion--window .close {
  position: absolute;
  top: 0px;
  left: 10px;
}

/*# sourceMappingURL=style.css.map */
