@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  text-decoration: none;
}

main {
  width: 100%;
  gap: 10px;
}
main .banner {
  width: 100%;
  margin-bottom: 60px;
}
main .info-premios {
  width: 100%;
}
main .info-premios--title {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}
main .info-premios--text {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, 400px);
}
main .text-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
main .text-card h5 {
  font-size: 1.6rem;
}
main .text-card p {
  font-size: 1.8rem;
  text-align: justify;
}
main .text-card button {
  width: 130px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  color: rgb(237, 28, 46);
  border: 2px solid rgb(237, 28, 46);
  font-size: 1.3rem;
  border-radius: 5px;
  display: grid;
  place-content: center;
}
main .text-card button:hover {
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: 600;
}
main .info-premios > button {
  width: 314px;
  height: 40px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  color: rgb(237, 28, 46);
  border: 2px solid rgb(237, 28, 46);
  font-size: 1.3rem;
  border-radius: 5px;
  display: grid;
  place-content: center;
}
main .info-premios > button:hover {
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: 600;
}
main .premios {
  width: 100%;
  margin-top: 20px;
}
main .premios--title {
  font-size: 3.5rem;
  font-weight: 400;
  margin-top: 100px;
  text-align: center;
}
main .premios-cards {
  display: grid;
  grid-template-rows: repeat(5, 450px);
  grid-template-columns: minmax(375px, 100%);
  margin: 0 auto;
}
main .card-premio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
main .card-premio img {
  flex-grow: 1;
  width: 50%;
  max-width: 500px;
  flex-basis: 430px;
  padding: 15px;
  order: 1;
}
main .premio-cart--text {
  order: 2;
  flex-grow: 1;
  max-width: 500px;
  flex-basis: 430px;
  padding: 15px;
}
main .premio-cart--text h5 {
  font-size: 1.8rem;
  margin-bottom: 30px;
  text-align: center;
}
main .premio-cart--text p {
  font-size: 1.6rem;
  text-align: justify;
}
main .card-premio__final {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 15px;
}
main .card-premio__final img {
  order: 1;
  width: 100%;
  justify-self: center;
  align-self: center;
}
main .card-premio__final .premio-cart--text__final {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}
main .card-premio__final .premio-cart--text__final h5 {
  font-size: 1.8rem;
  margin-bottom: 30px;
}
main .card-premio__final .premio-cart--text__final p {
  font-size: 1.5rem;
}
main .premios button {
  display: inherit;
  width: 80%;
  height: 40px;
  margin: 20px auto;
  background-color: rgb(255, 255, 255);
  color: rgb(237, 28, 46);
  border: 2px solid rgb(237, 28, 46);
  font-size: 1.3rem;
  border-radius: 5px;
  display: grid;
  place-content: center;
}
main .premios button:hover {
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: 600;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .home {
  width: 195px;
  height: 65px;
}
header .home .logo-img {
  width: 100%;
  height: 100%;
}
header .btn-account {
  display: flex;
}
header .btn-account a {
  margin-right: 10px;
  width: 100px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  color: rgb(237, 28, 46);
  border: 2px solid rgb(237, 28, 46);
  font-size: 1.3rem;
  border-radius: 5px;
  display: grid;
  place-content: center;
}
header .btn-account a:hover {
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: 600;
}
header .nav--options {
  display: flex;
  justify-self: flex-start;
  align-items: center;
  gap: 15px;
  height: 100%;
  padding: 0px 10px;
}
header .nav--options .icon {
  display: none;
  font-size: 3rem;
}
header .nav--options .icon:focus, header .nav--options .icon:hover {
  text-decoration: none;
  border: none;
}
header .nav--options a {
  color: rgb(237, 28, 46);
  font-weight: 600;
  font-size: 1.3rem;
  height: 30px;
  padding: 7px 2px;
}
header .nav--options a:hover {
  border-bottom: 4px solid rgb(237, 28, 46);
}

@media screen and (max-width: 770px) {
  .nav--options a:not(:last-child) {
    display: none;
  }
  .nav--options a.icon {
    float: right;
    display: block;
  }
  .nav--responsive {
    width: 350px;
    height: min-content;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(237, 28, 46, 0.5);
    top: 80px;
    left: calc(50% - 175px);
    padding: 10px;
    display: none;
  }
  .nav--responsive a {
    display: block;
    font-size: 2rem;
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
  }
}
.acerca {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  gap: 15px;
}
.acerca h3 {
  font-size: 3.5rem;
  font-weight: 400;
  flex-basis: content;
  text-align: center;
}
.acerca .acerca--enlaces {
  flex-grow: 1;
  width: 30%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.acerca .acerca--enlaces a {
  background-color: rgb(255, 255, 255);
  color: rgb(237, 28, 46);
  border: 2px solid rgb(237, 28, 46);
  font-size: 1.3rem;
  border-radius: 5px;
  display: grid;
  place-content: center;
  display: grid;
  place-content: center;
  width: 270px;
  height: 40px;
}
.acerca .acerca--enlaces a:hover {
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: 600;
}

footer {
  width: 100%;
  height: 100px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px 20px;
  margin-top: 100px;
  background-color: rgba(237, 28, 46, 0.4);
}
footer img {
  width: 40%;
  justify-self: center;
  float: right;
}
footer a {
  color: black;
  display: block;
  margin-bottom: 2px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(237, 28, 46, 0.2);
}

.modal-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  width: 350px;
  height: min-content;
  top: calc(50% - 100px);
  left: calc(50% - 175px);
}

.close {
  color: rgb(237, 28, 46);
  font-size: 3rem;
  float: right;
  font-weight: 600;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.container-account {
  width: 100%;
  border: 1px solid blue;
}
.container-account img {
  width: 100%;
  margin-bottom: 20px;
}
.container-account .credential-account {
  display: grid;
  grid-template-rows: 150px 430px;
  grid-template-columns: 375px;
  gap: 10px;
}
.container-account .credential-text {
  margin-bottom: 10px;
}
.container-account .credential-text h2 {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}
.container-account .credential-text p {
  font-size: 2rem;
  text-align: center;
}
.container-account .credential-card {
  margin-top: 20px;
  justify-self: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
}
.container-account .credential-card p {
  width: 80%;
  font-size: 2rem;
  font-weight: 600;
  margin: 10px auto;
}
.container-account .credential-card form {
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 20px;
}
.container-account .credential-card form > input {
  height: 40px;
  font-size: 1.5rem;
  border: none;
  border-bottom: 2px solid rgb(237, 28, 46);
}
.container-account .credential-card input:focus-visible {
  outline: none;
}
.container-account .credential-card input:focus-visible::placeholder {
  color: rgba(237, 28, 46, 0.5);
  font-weight: 600;
  padding-left: 30px;
}
.container-account .credential-card form button {
  width: 130px;
  height: 40px;
  align-self: flex-start;
  background-color: rgb(255, 255, 255);
  color: rgb(237, 28, 46);
  border: 2px solid rgb(237, 28, 46);
  font-size: 1.3rem;
  border-radius: 5px;
  display: grid;
  place-content: center;
}
.container-account .credential-card form button:hover {
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.container-account .signin-option {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.container-account .signin-option p {
  font-size: 2.5rem;
  flex-basis: 350px;
  text-align: center;
  margin-bottom: 20px;
}
.container-account .signin-option a {
  background-color: rgb(255, 255, 255);
  color: rgb(237, 28, 46);
  border: 2px solid rgb(237, 28, 46);
  font-size: 1.3rem;
  border-radius: 5px;
  display: grid;
  place-content: center;
  width: 192px;
  height: 52px;
}
.container-account .signin-option a:hover {
  background-color: rgb(237, 28, 46);
  color: rgb(255, 255, 255);
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
