section.acerca 
  h3 Visita nuestra pagina y enterate de mas promociones y beneficios
  .acerca--enlaces 
    a(href="https://farmaciaseconomicas.com.ec") Farmaciaseconomicas.com.ec
    a(href="/ayuda") Contactanos