header.admin-header 
  a(href=home, class="home")
    img(src=logo, alt="logo farmacias", class="logo-img")
  nav.admin-options
    if path=='/equipos'
      a(href="/admin-equipos", class="selected") Equipos
      a(href="/admin-partidos") Partidos
    else if path='/partidos'
      a(href="/admin-equipos") Equipos
      a(href="/admin-partidos", class="selected") Partidos