footer
  a(href="/ayuda", class="e1") Quienes somos
  a(href="", class="e2") Políticas
  a(href="", class="e3") Conoce mas
  img(src=icon, alt="Logo farmacias", class="e4")
  a(href="", class="e5") Pedido a domicilio
  a(href="/ayuda", class="e6") Contacto