header  
  if logged

    a(href='/', class="home") 
      img(src=logo, alt="logo", class="logo-img")
    nav.nav--options
      p.user-nickname=username
      div.dropdown-content
        a(href="/close-sesion").close-sesion Cerrar Sesión
      a(href="/malla-partidos") Malla de partidos
      a(href="/pronosticos") Registra tus pronosticos
      a(href="/ranking") Ranking de participantes
      if admin 
        a(href="/admin") Admin
      a(class="icon") &Congruent;
  else  
    a(href=home, class="home") 
      img(src=logo, alt="logo", class="logo-img")
    .btn-account
      a(href="/signin") Iniciar sesion
      a(href="/signup") Registrarse
script(src="/js/header.js") 

