header
  a(href="http://localhost:3000/", class="home") 
    img(src="https://storage.googleapis.com/polla-mundialista-75eb4.appspot.com/logo-economicas.svg", alt="logo", class="logo-img")
  if logged
      a(href="/partidos") Malla de partidos
      a(href="/pronosticos") Registra tus pronosticos
      a(href="/ranking") Ranking de participantes
      a(href="/ayuda") Ayuda
  else  
    .btn-account
      button(id="signin") Iniciar sesion
      button(id="signup") Registrarse