header  
  if logged
    a(href="http://localhost:3000/", class="home") 
      img(src="https://storage.googleapis.com/polla-mundialista-75eb4.appspot.com/logo-economicas.svg", alt="logo", class="logo-img")
    nav.nav--options
      a(href="/partidos") Malla de partidos
      a(href="/pronosticos") Registra tus pronosticos
      a(href="/ranking") Ranking de participantes
      a(href="/ayuda") Ayuda
  else  
    a(href="http://localhost:3000/", class="home") 
      img(src="https://storage.googleapis.com/polla-mundialista-75eb4.appspot.com/logo-economicas.svg", alt="logo", class="logo-img")
    .btn-account
      button(id="signin") Iniciar sesion
      button(id="signup") Registrarse