doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css")
    title Administracion Qatar
  body 
    include includes/header.pug
    main.container-main
      section.container-main--buttons
        button#new-match Agregar Partido
        button#show-positions Mostrar Posiciones
        button#show-teams Mostrar Equipos
      article.container-main--teams-content

      article.container-main--matches-content
        nav.matches-type
          p#grupos Grupos
          p#octavos Octavos
          p#cuartos Cuartos
          p#semi Semifinal
          p#final Final 
        article.groupContainer
          button.newMatch &plus;
          article.match-cards--container

      article.container-main--positions-content
        
    script(src="/js/admin.js") 