doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css")
    title Experiecia Etapas
  body 
    include includes/admin-header.pug
    main
      h1 Equipos por etapa 
      section.etapas
        nav
          p Grupos
          p Octavos
          p Cuartos
          p SemiFinal
          p Final
      article.container
        button.addCard &plus;
        section 
          p.equipo México
          .estats  
            .index
              p Partidos jugados: 
              p Partidos perdidos:
              p Partidos ganados:
              p Goles totales:
              p Goles contra:
              p Puntos totales:
            .values
              p.partidos-jugados 0
              p.partidos-perdidos 0
              p.partidos-ganados 0
              p.goles-totales 0
              p.goles-contra 0
              p.puntos-totales 0
        section 
          p.equipo Qatar
          .estats 
            .index
              p Partidos jugados: 
              p Partidos perdidos:
              p Partidos ganados:
              p Goles totales:
              p Goles contra:
              p Puntos totales:
            .values
              p.partidos-jugados 0
              p.partidos-perdidos 0
              p.partidos-ganados 0
              p.goles-totales 0
              p.goles-contra 0
              p.puntos-totales 0
        section 
          p.equipo Alemania
          .estats  
            .index
              p Partidos jugados: 
              p Partidos perdidos:
              p Partidos ganados:
              p Goles totales:
              p Goles contra:
              p Puntos totales:
            .values
              p.partidos-jugados 0
              p.partidos-perdidos 0
              p.partidos-ganados 0
              p.goles-totales 0
              p.goles-contra 0
              p.puntos-totales 0
        section 
          p.equipo Brasil
          .estats  
            .index
              p Partidos jugados: 
              p Partidos perdidos:
              p Partidos ganados:
              p Goles totales:
              p Goles contra:
              p Puntos totales:
            .values
              p.partidos-jugados 0
              p.partidos-perdidos 0
              p.partidos-ganados 0
              p.goles-totales 0
              p.goles-contra 0
              p.puntos-totales 0
      section.modalForm
        span.close &times;
        form(action="/equipos-etapas/nuevos-equipos", method="post")
          input(type="text", placeholder="Nombre", required, name="nombre", id="name")
          input(type="number", placeholder="Partidos jugados", required, name="p_jugados", id="p_jugados") 
          input(type="number", placeholder="Partidos ganados", required, name="p_ganados", id="p_ganados") 
          input(type="number", placeholder="Partidos perdidos", required, name="p_perdidos", id="p_perdidos") 
          input(type="number", placeholder="Goles totales", required, name="g_totales", id="g_totales") 
          input(type="number", placeholder="Goles en contra", required, name="g_contra", id="g_contra") 
          input(type="number", placeholder="Puntos", required, name="puntos", id="puntos")
          input(type="text", placeholder="Etapa", required, name="etapa")
          button(type="submit", id="submitEquipo") Guardar 
  script(src="/js/equipos-admin.js", type="module") 