doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css")
    title Malla de partidos
  body 
    include includes/header.pug
    img(src=banner, alt="Promocion farmacias", class="malla-banner")
    main.malla-container 

      article.malla-partidos
        h2 Malla de partidos
        section.partidos-container
          
          .partido-current--card 
            p.partido-a México
            p.partido-b Qatar
            p.vs VS

          .partido-current--card 
            p.partido-a México
            p.partido-b Qatar
            p.vs VS

          .partido-current--card 
            p.partido-a México
            p.partido-b Qatar
            p.vs VS
          


      article.tabla-posiciones
        h2 Tabla de posiciones
        section.posiciones-container
          .partido-row
            p.posicion 1
            p.nombre-partido México
          .partido-row
            p.posicion 2
            p.nombre-partido Qatar
          .partido-row
            p.posicion 3
            p.nombre-partido Brasil

      article.modal-posicion--window 
        section.modal-posicion--content
          span.close &times;
          .index-posicion
            p Nombre del Partido
            p Partidos Jugados
            p Partidos Ganados
            p Partidos Perdidos
            p Goles Totales
            p Goles en Contra
            p Goles a Favor
            p Puntos
            p Etapa
          .data-posicion
            p México
            p 3
            p 1
            p 2
            p 8
            p 6
            p 2
            p 3
            p Grupos
  script(src="/js/malla-partidos.js") 

