doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css")
    title Administrar Partidos
  body 
    include includes/admin-header.pug
    main
      h1 Partidos
      article.container-partidos
        button.addPartido &plus;

        section.cardPartido 
          section.equipoA
            p México
            section.estats-equipo
              p Goles: 
              p Puntos:
            section.results
              p.goles 12
              p.puntos 3
          section.equipoB
            p Brasil
            section.estats-equipo
              p Goles:
              p Puntos:
            section.results
              p.goles 8
              p.puntos 2
          section.dataPartido
            p.fecha-partido 12/11/2022
            p.etapa-partido Etapa de grupos
            
        section.cardPartido 
          section.equipoA
            p México
            section.estats-equipo
              p Goles: 
              p Puntos:
            section.results
              p.goles 12
              p.puntos 3
          section.equipoB
            p Brasil
            section.estats-equipo
              p Goles:
              p Puntos:
            section.results
              p.goles 8
              p.puntos 2
          section.dataPartido
            p.fecha-partido 12/11/2022
            p.etapa-partido Etapa de grupos

        section.cardPartido 
          section.equipoA
            p México
            section.estats-equipo
              p Goles: 
              p Puntos:
            section.results
              p.goles 12
              p.puntos 3
          section.equipoB
            p Brasil
            section.estats-equipo
              p Goles:
              p Puntos:
            section.results
              p.goles 8
              p.puntos 2
          section.dataPartido
            p.fecha-partido 12/11/2022
            p.etapa-partido Etapa de grupos
