doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css")
    title Pronosticos
  body(id=correoUser)
    include includes/header.pug
    img(src=banner, alt="Imagen premio", class="pronosticos_banner")
    main.pronosticos-container
      section.pronosticos-grupos
        h2 ETAPA DE GRUPOS
        section(class="pronosticos--container-cards" id="container-grupos")
        
      section.pronosticos-octavos
        h2 OCTAVOS DE FINAL
        section(class="pronosticos--container-cards" id="container-octavos")

      section.pronosticos-cuartos
        h2 CUARTOS DE FINAL
        section(class="pronosticos--container-cards" id="container-cuartos")

      section.pronosticos-semifinal 
        h2 SEMI-FINAL
        section(class="pronosticos--container-cards" id="container-semifinal")

      section.pronosticos-final
        h2 FINAL
        section(class="pronosticos--container-cards" id="container-final")

    include includes/footer.pug
    script(src="/js/pronosticos.js" type="module")