doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css")
    title=title
  body.container-account
    img(src="https://storage.googleapis.com/polla-mundialista-75eb4.appspot.com/banner1.PNG", alt="Banner informativo: por cada $13 de compras participas para ganar una moto")
    .credential-account 
      .credential-text
        h2 Registra tus datos y participa por fabulosos premios
      .credential-card
        if action=="signup"
          p Ingresa tus datos
          form(action="/signup" method="post" autocomplete) 
            input(type="text" placeholder="Nickname" required autofocus name="nickname")
            input(type="text" placeholder="Correo" required name="email")
            input(type="password" placeholder="Contraseña" required name="password")
            button(type="submit") Registrarse
        else 
          p Ingresa tus datos
          form(action="/auth" method="post" autocomplete id="signin")
            input(type="text" placeholder="Correo" required autofocus name="email")
            input(type="password" placeholder="Constraseña" required autofocus name="password")
            button(type="submit" id="submitBtn") Iniciar
    .signin-option
      if action=="signup"
        p Si ya estas registrado inicia sesion
        a(href="/signin") Iniciar 
      else 
        p Si no tienes una cuenta registrate 
        a(href="/signup") Registrarse 
    include includes/about.pug