footer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin-top: 100px;
  background-color: rgba(237, 28, 46, 0.4);

  img{
    width: 40%;
    justify-self: center;
    float: right;
  }
}
