header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .home{
    width: 195px;
    height: 65px;
    
    .logo-img{
      width: 100%;
      height: 100%;
    }
  }

  .btn-account button{
    margin-right: 10px;
    width: 100px;
    height: 40px;
    @include button;
  }

  .nav--options{
    justify-self: flex-start;
    display: flex;
    gap: 15px;
  }
  
  .nav--options a{
    color: $red_color;
    font-weight: 600;
    font-size: 1.3rem;
    height: 30px;
    padding: 7px 2px;
  }

  .nav--options a:hover{
    border-bottom: 4px solid $red_color;
  }
}


