main{
  width: 100%;
  display: grid;
  padding: 10px;
  grid-template-rows: min-content 100vh 3000px 200px;
  gap: 10px;

  .banner{
    width: 100%;
  }

  .info-premios{
    display: grid;
    grid-template-rows: 5% 95%;
  }

  .info-premios--title{
    font-size: 3rem;
    font-weight: 400;
  }

  .info-premios--text{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(425px, 50%));
    gap: 10px;
  }

  .text-card{
    background-color: coral;
  }
}