.malla-banner{
  width: 100%;
}

h2{
  width: 100%;
  font-size: 3rem;
  text-align: center;
  margin:60px 0px 15px 0px;
}

.malla-container{
  width: 100%;
  padding: 10px;

  .partidos-container{
    display: grid;
    grid-auto-rows: 150px;
    grid-template-columns: repeat(auto-fit, 355px);
    justify-content: center;
    gap: 20px;
    
  }
  
  .partidos-container .partido-current--card{
    position: relative;
    background-color: $red-color;
    border-radius: 15px;
    padding: 20px;
  }

  .partido-current--card .partido-a{
    display: inline;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 3rem;
    color: $white-color;
    font-weight: bold;
  }

  .partido-current--card .partido-b{
    display: inline;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3rem;
    color: $white-color;
    font-weight: bold;
  }

  .partido-current--card .vs{
    position: absolute;
    left: calc(50% - 35px);
    bottom: 15px;
    display: inline;
    color: $white-color;
    font-size: 6rem;
    font-weight: bold;
  }
}

.posiciones-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 0px auto;

  .partido-row{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 40px;
    background-color: $red-color;
    padding: 0px 20px;
    cursor: pointer;
    border-radius: 10px;
  }

  .partido-row p{
    font-size: 1.8rem;
    color: $white-color;
    font-weight: bold;
    margin-right: 20px;
  }

  .partido-row .posicion{
    border-right: 2px solid $white-color;
    padding-right: 5px;
  }
}

.modal-posicion--window{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(237, 28, 46, 0.4);

  .modal-posicion--content{
    display: flex;
    justify-content: space-between;
    width: 350px;
    max-width: 500px;
    position: relative;
    left: calc(50% - 175px);
    top: calc(50% - 250px);
    height: 400px;
    border-radius: 10px;
    background-color: $white-color;
    padding: 20px;
  }

  .modal-posicion--content p{
    font-size: 1.5rem;
    margin-bottom: 20px;
    border-bottom: 2px solid $red-color;
    word-spacing: 3px;
  }

  .data-posicion{
    font-weight: bold;
    text-align: end;
  }

  .index-posicion, .data-posicion{
    margin-top: 10px;
  }

  .close{
    position: absolute;
    top: 0px;
    left: 10px;
  }
}