.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(237, 28, 46, 0.2); 
}

.modal-content{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color:$white_color ;
  padding: 20px;
  width: 350px;
  height: min-content;
  top: calc(50% - 100px);
  left: calc(50% - 175px);
}

.close{
  color: $red_color;
  font-size: 3rem;
  font-weight: 600;
}

.close:hover,
.close:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}