main{
  width: 100%;

  h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .container-partidos{
    width: 100%;
    height: min-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    grid-auto-rows: min-content;
    gap: 10px;
    margin-bottom: 20px;
  }

  button.addPartido{
    @include button;
    justify-self: center;
    width: 100px;
    height: 40px;
    font-size: 3rem;
  }

  .container-partidos .cardPartido{
    height: 300px;
    margin: 0px 10px;
    padding: 5px;
    background-color: $red-color;
    color: $white-color;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
      "equipo_a equipo_b"
      "data data"
    ;
    gap: 5px;
  }

  .cardPartido .equipoA{
    grid-area: equipo_a;
    border-right: 1px solid $white-color;
    padding: 5px;
    
    &>p{
      font-size: 3rem;
      text-align: center;
      font-weight: bold;
    }

    .estats-equipo{
      display: flex;
      justify-content: space-between;
      margin-top: 90px;

      p{
        font-size: 2rem;
      }
    }
  }

  .cardPartido .equipoB{
    grid-area: equipo_b;
    padding: 5px;
    
    &>p{
      font-size: 3rem;
      text-align: center;
      font-weight: bold;
    }

    .estats-equipo{
      display: flex;
      justify-content: space-between;
      margin-top: 90px;

      p{
        font-size: 2rem;
      }
    }
  }
  
  .cardPartido .dataPartido{
    border-top: 1px dashed $white-color;
    grid-area: data;
    padding: 5px;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .modalFormPartido{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 20px;
    background-color: rgba($color: #939393, $alpha: 0.9);
  }

  .modalFormPartido form{
    position: relative;
    top: calc(50% - 220px);
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
  }

  .modalFormPartido form input{
    height: 40px;
    font-size: 1.3rem;
    padding-left: 10px;
    border-radius: 5px;

    &:focus-visible{
      outline: none;
    }
  }

  .modalFormPartido button{
    @include button;
    width: 140px;
    height: 40px;
    align-self: center;
  }
}