.container-account{
  padding: 20px;
  display: grid;
  grid-template-rows: min-content 670px 100px 340px;
  gap: 20px;

  img{
    width: 100%;
  }

  .credential-account{
    display: grid;
    grid-template-rows: 150px 430px;
    gap: 10px;
    padding: 20px;
  }

  .credential-text{
    h2{
      font-size: 3.8rem;
      font-weight: 400;
      text-align: center;
      margin-bottom: 20px;
    }

    p{
      font-size: 2.6rem;
      text-align: center;
    }
  }

  .credential-card{
    box-shadow: 3px 7px 7px rgba(237, 28, 46, 0.5);
    justify-self: center;
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    p{
      width: 80%;
      font-size: 2rem;
      font-weight: 600;
      margin: 10px auto;
    }

    form{
      width: 80%;
      height: 70%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      gap: 20px;
    }

    form > input{
      height: 40px;
      font-size: 1.5rem;
      border: none;
      border-bottom: 2px solid $red_color;
    }

    input:focus-visible{
      outline: none;
    }

    input:focus-visible::placeholder{
      color: rgba(237, 28, 46, 0.5);
      font-weight: 600;
      padding-left: 30px;
    }

    form button{
      width: 130px;
      height: 40px;
      align-self: flex-start;
      @include button;
    }
  }



  .signin-option{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    p{
      font-size: 2.6rem;
    }

    a{
      @include button;
      width: 192px;
      height: 52px;
    }
  }
}