.container-account{
  width: 100%;

  img{
    width: 100%;
    margin-bottom: 20px;
  }

  .credential-account{
    display: grid;
    grid-template-rows: 150px 430px;
    grid-template-columns: 375px;
    gap: 10px;
  }

  .credential-text{
    margin-bottom: 10px;
    
    h2{
      font-size: 2.5rem;
      font-weight: 400;
      text-align: center;
      margin-bottom: 20px;
    }

    p{
      font-size: 2rem;
      text-align: center;
    }
  }

  .credential-card{
    margin-top: 20px;
    justify-self: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    p{
      width: 80%;
      font-size: 2rem;
      font-weight: 600;
      margin: 10px auto;
    }

    form{
      width: 80%;
      height: 70%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      gap: 20px;
    }

    form > input{
      height: 40px;
      font-size: 1.5rem;
      border: none;
      border-bottom: 2px solid $red_color;
    }

    input:focus-visible{
      outline: none;
    }

    input:focus-visible::placeholder{
      color: rgba(237, 28, 46, 0.5);
      font-weight: 600;
      padding-left: 30px;
    }

    form button{
      width: 130px;
      height: 40px;
      align-self: flex-start;
      @include button;
    }
  }



  .signin-option{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;

    p{
      font-size: 2.5rem;
      flex-basis: 350px;
      text-align: center;
      margin-bottom: 20px;
    }

    a{
      @include button;
      width: 192px;
      height: 52px;
    }
  }
}

@media screen and (min-width: 768px){
  .container-account{
    .credential-account{
      grid-template-columns: 100%;
    }

    .credential-card{
      max-width: 600px;
      max-height: 80%;
      box-shadow: 10px 10px 10px rgba(237, 28, 46, 0.5);
    }
  }
}