@import './variables';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
  font-size: 62.5%;
  text-decoration: none;
}

// Styles for landign page
@import './landing';
@import './header';
@import './about';
@import './footer';
// Styles for modal window info
@import './modals-info';

// Styles for signup and signin
@import './signin-signup';

// Styles for admin page
@import './admin';

//Styles for malla de partidos
@import './malla-partidos';

// Styles for 404
@import './404';

//Styles for pronosticos page
@import './pronosticos';

//Styles for ranking
@import './ranking';
